body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 500px;
}

form{
    background-color: rgb(142, 142, 175);
    padding: 20px;
    border-radius: 5px;
}
#signup{
    justify-content: center;
    align-items: center;
    display: flex;
}
#input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid rgb(142, 142, 175);
    border-radius: 3px;
    box-sizing: border-box;
}
#submit>p{
    background-color: rgb(121, 103, 103);
    border: none;
}
